<Files ~ "^\.(htaccess|htpasswd)$">
deny from all


RewriteEngine on
RewriteCond %{HTTP_HOST} ^(www\.rin\.cieldev\.net)(:80)? [NC]
RewriteRule ^(.*) http://rin.cieldev.net/$1 [R=301,L]
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html
DirectoryIndex index.html
order deny,allow
